<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeatherKey</key>
	<string>dfb922ad45c3a804ffd35ac0a5c94587</string>
	<key>TriposoAccount</key>
	<string>E0NGULNA</string>
	<key>TriposoKey</key>
	<string>u1goimgcgxbzd79n4m7g2is3y3sz9ski</string>
	<key>Unsplash</key>
	<string>a6815555f435a4929d9553076de8dcfab0cb2c256b1000ea8884ab17a935f1d7</string>
</dict>
</plist>
